[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-decouple = "*"
pymongo = "*"
pandas = "*"
requests = "*"
cachetools = "*"
gunicorn = "*"
pycountry = "*"
mongoengine = "*"
beautifulsoup4 = "*"
lxml = "*"
uvloop = "*"
uszipcode = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
coverage = "*"
coveralls = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
